<!DOCTYPE html>
<head>
    <title>PROFILE</title>
</head>

<body>
    <div class="profile">
        <div class="user-info" *ngIf="user">

            <div class="card">

                <img src="{{user.profileImage}}" alt="" class="profile-img">

                <h2>{{user?.name}} {{user?.surname}}</h2>
                <p>{{user?.email}}</p>
                <a><i class="fa fa-phone"></i>{{user?.password}}</a>
            </div>

            <hr>
            
            <div class="contact-types">
                <div class="contacts">
                    <form>
                            <div>
                                <input type="text" name="name" placeholder="name">
                            </div>
                            <div>
                                <input type="text" name="surname" placeholder="surname">
                            </div>
                            <button type="submit" name="change_name">Save</button>
                    </form>
                    <p> Contact: </p>
                    <p *ngFor="let phone of phones"> {{phone.phoneNumber}} 
                        <button class="deleteButton" (click)="deletePhone(phone.id)">X</button>
                    </p>

                </div>
                
                <div class="adresses">
                    <p>About me</p>
                </div>
            </div>
        </div>
        <div class="videos-bar">
            <!--  w bazie musze zamienic watch na embed mniej wiecej -->
            <iframe  src="https://www.youtube.com/embed/50ZvMarcQmI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <iframe  src="https://www.youtube.com/embed/50ZvMarcQmI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <form>
                    <p> add</p>
            </form>
        </div>
    </div>

</body>

