
<!-- <header>
    <p> hello from header</p>
    <div class="menu-icon-containter">
    <span class="nav-menu-icon" onclick="openNav()">&#9776;</span>
    </div>
    <div class="search-bar">
        <input placeholder="Search video">
    </div>
    <div class="add-video">
         <a href="addVideo"> 
            <i class="fas fa-plus-square"></i> 
            <p class="add-video-text">Add video</p>
        </a> 
    </div> 
</header> -->
<head>
    <title>HEADER</title>
</head>
<body>
    <div class="menu-icon-containter">
        <span class="nav-menu-icon" onclick="openNav()">&#9776;</span>
    </div>

    <div class="search-bar">
        <input placeholder="Search video">
    </div>
    <div class="add-video">
        <!-- <a href="addVideo">  -->
        <i class="fas fa-plus-square"></i> 
        <p class="add-video-text">Add video</p>
        <!-- </a>  -->
    </div> 
</body>
