body{
    display:flex;
    flex-direction: row;
        .nav{
            margin: 0;
            width: 15%;
            height: 100%;
        }
        .tab{
            margin: 0;
            width:85%;
            height: 100%;
        }


}