.base-container{
    height: 100%;
    background-image: url("../../../assets/images/physio-background.png");
    background-size: contain;

    .settings-container{
        h1{
        margin:0;
        }
    }
}

