
<div class ="searchbar">
    <h1 id="h1-profile">Address</h1>
    <p>{{address.city}}, ul.{{address.street}} {{address.number}}, ZIP: {{address.postalCode}}</p>
</div>

<div class ="cards" >
        <div class="card" *ngFor="let user of users">
            <img *ngIf="user.profileImage" src="{{user.profileImage}}" alt="" class="profile-img">
            <img *ngIf="!user.profileImage" src="../../../assets/images/default-profile.jpg" alt="..." class="profile-img">
            <h2>{{user.title}} {{user.name}} {{user.surname}}</h2>
            <h2>{{user.email}}</h2>
            <h3><i class="fa fa-phone"></i>{{user.description}}</h3>
            <button class="yellowButton" (click)="onSelect(user)" > Visit me --> </button>
        </div>
<div>
