<!DOCTYPE html>

<head>
    <title>LOGIN PAGE</title>
    
</head>
<body>
    <div class="container">
        <div class="logo">
            <img src="../../../assets/images/logo.svg"> 
        </div>
        <div class="login-container">
             <form class="login">
                <input name="email" type="text" placeholder="email@email.com">
                <input name="password" type="password" placeholder="password">
                <div class="buttons">
                    <button class="btn btn-login" (click)="handleLogInkMe()">Login</button>
                    <button type="submit" name="register_button" value="register">Register</button>
                </div>
            </form> 
        </div>
    </div>
</body>