<!DOCTYPE html>

<head>
    <title>REGISTER</title>
</head>

<body>
<div class="container">
    <div class="logo">
        <img src="../../../assets/images/logo.svg">  
    </div>
    <div class="login-container">
        <form class="login" action="register" method="POST">

            <input name="email" type="text" placeholder="email@email.com">
            <input name="password" type="password" placeholder="password">
            <input name="confirmedPassword" type="password" placeholder="confirm password">
            <input name="name" type="text" placeholder="name">
            <input name="surname" type="text" placeholder="surname">
            <input name="phone" type="text" placeholder="phone*">
            <div class="buttons">
                <button type="submit">Create new account</button>
            </div>
        </form>
    </div>
</div>
</body>