
.main{
    flex-direction: row;
    // background: transparent linear-gradient(180deg, #36EF49 0%, #1B7825 100%) 0% 0% no-repeat padding-box;
    background: lightblue;
    align-items: center;
    justify-content: flex-start;
    height:100vh;
    width: 100%;
    


    ul{
        list-style-type: none;
        text-align: center;

        width: 100%;
        margin: 0;
        padding: 0;
        
        .logo{
            width:40%;
            margin:auto;
            margin-top:1em;
        }

        li{
            padding-bottom: 1em;
        }

        li:last-child{
            position:absolute;
            bottom: 2em;;
            width: 15%;
        }

        .sign-in{
        position: absolute;
        }

        div{
            .nav-text
            {
                text-decoration:none;
                border: none;
                color: white;
            }
        }
    }
}   
.button{    
    background: transparent linear-gradient(180deg, #36EF49 0%, #1B7825 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 6px #00000029;
    border-radius: 2em;
    opacity: 1;
    width: 45%;

    .sign-in{
        text-align: center;
    }
}

.sidenav{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

