
.main{
    flex-direction: row;
    background: lightblue;
    align-items: center;
    justify-content: flex-start;
    height:100vh;
    width: 100%;
    
    ul{
        list-style-type: none;
        text-align: center;
        width: 100%;
        margin: 0;
        padding: 0;
        display:inline-block;

        li{
            padding-bottom: 1em;


        }

        .logo{
            width:40%;
            padding-top: 1em;
        }

        li:last-child{
            position:absolute;
            bottom: 2em;
            width: 15%;
        }

        div{
            .nav-text
            {
                text-decoration:none;
                border: none;
                color: white;
            }
        }
    }
}   


.sidenav{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

