<div class="main">
    <div id="my-nav" class="sidenav open-nav">
        <ul>
            <li>
                <img class="logo" src="../../../assets/images/logo.svg"> 
            </li>
            <li>
                <div class="button">
                <a href="profile" class="nav-text">
                    Profile
                </a>
                </div>
            </li>
      
            <li>
                <div class="button">
                    <a href="profiles" class="nav-text" >
                        Profiles
                    </a>
                </div>
            </li>
            <li>
                <div class="button">
                <a href="#" class="nav-text">
                    Messages
                </a>
            </div>
            </li>
            <li>
                <div class="button">
                <a href="#" class="nav-text">
                    Alerts
                </a>
                </div>
            </li>
    
            <li>
                <div class="button">
                <a href="settings" class="nav-text">
                    Settings
                </a>
            </div>
            </li>
        
            <li>
                <div class="button">
                    <a href="login" class="nav-text">
                        Sign in
                    </a>
                </div>
        </li>
        </ul>

    </div>
</div>