<head>
    <title>NAVIGATION BAR</title>
</head>

<body>
    <div id="my-nav" class="sidenav open-nav">
        <ul>
            <li>
                <img class="logo" src="../../../assets/images/logo.svg"> 
            </li>
            <li>
                <div class="button">
                <a href="profile" class="nav-text">
                    <i class="fas fa-user"></i>
                    Profile
                </a>
                </div>
            </li>

            <li>
                <div class="button">
                    <a href="profiles" class="nav-text" >
                        <i class="fas fa-user-md"></i>
                        Profiles
                    </a>
                </div>
            </li>
            <li>
                <div class="button">
                <a href="#" class="nav-text">
                    <i class="fas fa-envelope"></i>
                    Messages
                </a>
            </div>
            </li>
            <li>
                <div class="button">
                <a href="#" class="nav-text">
                    <i class="fas fa-flag"></i>
                    Alerts
                </a>
                </div>
            </li>
    
            <li>
                <div class="button">
                <a href="settings" class="nav-text">
                    <i class="fas fa-flag"></i>
                    Settings
                </a>
            </div>
            </li>
        
            <li>
                <div class="button sign-in">
                    <a href="login" class="nav-text">
                        <i class="fas fa-flag"></i>
                        Sign in
                    </a>
                </div>
        </li>
        </ul>

    </div>
</body>