<head>
    <title>NAVIGATION BAR</title>
</head>

<body>
    <h1> {{title}} </h1>
    <div id="my-nav" class="sidenav open-nav">
        <!-- <a href="javascript:void(0)" class="closebtn" id="closebtn" onclick="closeNav()">&times;</a> -->
        <ul>
            <li>
                <a href="profile" class="button">
                    <i class="fas fa-user"></i>
                    Profile
                </a>
            </li>

            <li>
                <a href="#" class="button">
                    <i class="fas fa-user-md"></i>
                    Physio
                </a>
            </li>
            <li>
                <a href="#" class="button">
                    <i class="fas fa-envelope"></i>
                    Messages
                </a>
            </li>
            <li>
                <a href="#" class="button">
                    <i class="fas fa-flag"></i>
                    Alerts
                </a>
            </li>
    
            <li>
                <a href="settings" class="button">
                    <i class="fas fa-flag"></i>
                    Settings
                </a>
            </li>

            <li>
                <!-- <a (click)=goToLoginPage() class="button"> -->
                <a href="login" class="button" >
                    Sign in
                </a>
            </li>
        </ul>
    </div>
</body>